 #google-search{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
 }
 #feeling-lucky{
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
 }
 .buttons{
     display: flex;
     padding-top: 30px;
     justify-content: center;
     
 }
 
 .navbar{
    list-style-type: none;
    margin: 20px;
    padding: 0px;
}
.top {
    outline: none;
    display: inline;
    color: black;
}
#top-left{
    padding: 10px;
}
#top-right{
    padding: 10px;
    float: right;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(241, 239, 239);
}

.bot{
    display: inline-flex;
    padding: 0 5px 0 5px;
    outline: none;
    color:rgb(109, 108, 108);
    
}

#bottom-right{
    list-style-type: none;
    
    margin-right: 20px;
}

a{
    text-decoration: none;
    
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 220px;
    width: auto;

}
.search-wrapper{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    margin-top: 25px;
    width: 580px;

}
.search-term{
    padding-top: 10px;
    width: 400px;
    height: 30px;
    border-radius: 24px;
    border: 1px transparent;   
    font-size: 16px; 
}
.material-icons {
    margin-top: 13px;
    margin-left: 15px;
    font-size: 19px !important;
    color: #9c9a9a;
}





